.flex-container {
    display: flex;
    justify-content: space-around; /* Distribui as imagens igualmente na linha */
    align-items: center; /* Alinha as imagens verticalmente ao centro */
    background-color: black;
    padding: 80px;
}

.flex-container img {
    width: 300px;
}

