body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: lighter;
 /* line-height: 150%; ---- ERRO ---- */
}

/* Estilos para o texto "Welcome to YourBank Empowering Your" dentro de .bank-title */
.bank-title {
    color: #ffffff; /* Cor do texto - branco */
    font-weight: 500; /* Peso da letra */
    font-size: 48px; /* Tamanho da letra */
    max-width: 830px; /* Largura máxima */
    margin-bottom: 10px; /* Margem inferior */
}
  
  /* Estilos para a classe "bank-title-highligh" que envolve "Financial Journey" */
  .bank-title-highligh {
    color: #CAFF33; /* Cor do texto - verde */
}
  
/* Estilos para a classe "bank-paragraph" */
.bank-paragraph {
    max-width: 830px; /* Largura máxima */
    color: #E4E4E7; /* Cor do texto */
    margin-bottom: 40px; /* Margem inferior */
}
  
/* Estilos para o botão com a classe "bank-button" */
.bank-button {
    color: #1C1C1C; /* Cor do texto */
    background-color: #CAFF33; /* Cor de fundo */
    padding: 16px 24px; /* Padding (16px cima e baixo, 24px esquerda e direita) */
    border: none; /* Remove a borda padrão */
    border-radius: 82px; /* Cantos arredondados */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse */
}
  
  /* Estilize o botão quando o mouse passar por cima */
  .bank-button:hover {
    background-color: #A0D820; /* Altera a cor de fundo quando o mouse passa por cima */
}
  