.body {
    margin: 0;
    background-color: white;
}

.hero {
    padding: 80px;
}

.hero-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);   /* ou 1fr 1fr 1fr 1fr 1fr */
    row-gap: 60px;
    justify-items: center;
}


@media (min-width: 768px) and (max-width: 1024px) {
  
    .hero-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
  }

  @media (min-width: 481px) and (max-width: 768px) {
  
    .hero-grid {
        grid-template-columns: repeat(2, 1fr);

    }
    
  }